<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pcer.dao.ProblemDao">

    <select id="getProblems" resultType="com.pcer.entity.Problem">
        select * from problem
    </select>

    <select id="getProblemTags" resultType="string">
        select tag.name from problem as p
            join problem_tag_relation as pt on p.id = pt.problem_id
            join tag on pt.tag_id = tag.id
    </select>

    <insert id="newProblem" parameterType="com.pcer.entity.Problem">
        insert into problem values(null, #{name}, #{difficulty}, #{content})
    </insert>

    <select id="getProblemById" resultType="com.pcer.entity.res.ProblemItem">
        select id, name, difficulty, content from problem where id = #{id}
    </select>

</mapper>
