<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pcer.dao.ProblemDao">

    <select id="getProblems" resultType="com.pcer.entity.Problem">
        select * from problem
    </select>

    <select id="getProblemTags" resultType="com.pcer.entity.Tag">
        select tag.id, tag.name from problem as p
            join (select * from problem_tag_relation where is_valid = 1) as pt on p.id = pt.problem_id
            join tag on pt.tag_id = tag.id
    </select>

    <insert id="newProblem" parameterType="com.pcer.entity.Problem">
        insert into problem values(null, #{name}, #{difficulty}, #{content})
    </insert>

    <select id="getProblemById" resultType="com.pcer.entity.res.ProblemItem">
        select id, name, difficulty, content from problem where id = #{id}
    </select>

    <update id="updateProblem">
        update problem set name = #{name}, difficulty = #{difficulty}, content = #{content}
    </update>

    <select id="getProblemTagNames" resultType="java.lang.String">
        select tag.name from (select tag_id from problem_tag_relation where problem_id = #{id} and is_valid = 1) as ptr
            join tag on ptr.tag_id = tag.id
    </select>

    <update id="removeTag">
        update problem_tag_relation set is_valid = 0 where problem_id = #{problemId} and tag_id = #{tagId}
    </update>

    <insert id="addTag" parameterType="com.pcer.entity.ProblemTagRelation">
        insert into problem_tag_relation values(null, #{problemId}, #{tagId}, 1)
    </insert>

</mapper>
